@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Redressed&family=Big+Shoulders+Stencil+Text:wght@800&display=swap');
body{
    font-family: 'Redressed', cursive;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange_highlight{
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: orange;
}
.half_width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.profile_photo{
    max-width: 100%;
    height: auto;
}
section{
    height: 500px;
    margin-bottom: 100px;
}
.top_banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link_button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, orange, tomato);
    color: white;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 700;
    border-radius: 5px;

}
.resume_section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience_section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience_box{
    height: 60%;
    box-shadow: 10px 10px 30px gray;
    border-left: 10px solid;
    
}
.experience_box:nth-child(2){
    border-image: linear-gradient(180deg, red, rgb(224, 193, 18));
    border-image-slice: 1;
}
.experience_box:nth-child(3){
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}